@import '../../assets/variables.scss';
@import '../../assets/responsive.scss';

*{
    background-color: $main-bg;
}
.projects{
    margin: 0;
    padding: 0;


    box-sizing: border-box;

    .page-header{

        h2{
            margin-bottom: 50px;
        }
    }
    
    .overview-container{
 
        border: 2px solid $soft-color;
        margin-bottom: 20px;
        h3{
           margin: 20px;
        }
        
        form{
            display: block;
            
            margin: 40px auto;
            max-width: 600px;
            max-height: 700px;
            padding: 20px;

            @include sm{
                max-width: 300px;
            }
           
    
        input[type="text"] {
          display: flex;
          flex-direction: column;
          width: 100%;
          color: white;
          margin: 10px auto;
          padding: 10px;
        }

        label{
            display: flex;
            align-items: center;
            margin-top: 10px;
            font-size: 12px;
            
           
            
    
            input[type="checkbox"] {
                margin-right: 10px; 
                font-size: 20px;
          
              }
    
    
        }
    
        
            
        }

    }

    .banner-container{
        box-sizing: border-box;
        border: 2px solid $soft-color;
        margin: 40px auto;
        max-width: 600px;
        max-height: 700px;
        padding: 40px;
        
        h3{
           width: 100%;
        }
        p{
            font-size: 14px;
            margin-top: 20px;
        }

        button {
            display: flex;
            height:39px;
            width:100px;
            margin: 50px auto;
            align-items: center;
            justify-content: center;
            background-color: #23ad60;
            border:none;
            color: white;
            border-radius: 10px;
            font-size: 13px;
            cursor: pointer;
    
        }
      
    }

    button {
        display: flex;
        height:39px;
        width:100px;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
        background-color: #23ad60;
        border:none;
        color: white;
        border-radius: 10px;
        font-size: 13px;
        cursor: pointer;

    }
    

}