.project-dash{
    display: flex,;
    flex-direction: column;
    


    .title{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    
        .title-left{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        .title-right{

            .create{
                display: flex;
                justify-content: right;
        
                .create-dash{
                    display: flex;
                    margin-top: 20px;
                    justify-content: center;
                    align-items: center;
                    width: 70px;
                    height: 30px;
                    color: #fff;
                    background: #24ae60;
                    border-radius: 10px;
                    font-size: 13px;
                    font-weight: 700;
                    cursor: pointer;
                }
            }


        }
    
    }

    

    .list-container{

        .list-item{
            margin-bottom: 20px;
            
            h5{
                margin-bottom: 7px;
            }

            .element{
                gap: 5px;
                display: flex;
                img{
                    width:60px;
                    height: 40px;
                    
                }
                p{
                    font-size: 10px;
                }
            }
        }
    }
    .explore{
        display: flex;
        justify-content: center;

        .explore-more{
            display: flex;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 39px;
            color: #fff;
            background: #24ae60;
            border-radius: 10px;
            font-size: 13px;
            font-weight: 700;
            cursor: pointer;
            border:none;
        }
    }
   

}