@import "../../assets/variables.scss";
@import "../../assets/responsive.scss";
.home{

    


    
    .home-container {

        display: grid ;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(200px, auto) ;
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;


        @include xl{
            grid-template-columns: repeat(2, 1fr);
        }

        @include lg{
            grid-template-columns: repeat(1, 1fr);
           
        }


        @include sm{
            grid-template-columns: repeat(1, minmax(50px, 1fr));
            margin-left: 0px;
            margin-right: 0px;
            
           
        }




        




       

        
        
    
    
    
        .box{
            padding: 20px;
            border-radius: 10px;
            border: 1px solid $soft-bg;
            margin-bottom: 20px;
        }
    
        .box7{
            grid-column: span 2;
            grid-row: span 0.5;

            @include lg{
                display: none;
            }
        }

        .box8{

            display: flex;
            flex-direction: column;
            

            .box8-title{
                margin-bottom: 150px;
                display: flex;
                align-items: center;

                img{
                    width:20px;
                    height: 20px;
                }
                
            }

            .medal-container{
                width: 100px; /* Adjust the width to change the size */
                height: 100px; /* Adjust the height to change the size */
                border-radius: 50%;
                border: 2px solid white; /* Adjust the border width and color as needed */
                background-color: transparent; /* Make sure the background is transparent */
                margin: 0 auto; /* Center the div horizontally */
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 70px;
                }
            }

            h4{
                text-align: center;
                margin-bottom: 60px;
                margin-top: 20px;
            }

            .box8-btns{
                display: flex;
                gap:20px;
                justify-content: center;

                .detail{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 39px;
                    color: #fff;
                    background: #23ad60;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 700;
                    cursor: pointer;
                    border:none;
                }
                .share{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 39px;
                    color: #fff;
                    background: #4a8bce;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 700;
                    cursor: pointer;
                    border:none;
                }
            }

        }
    
    
        
    }
    
    .header {
    
        margin-left: 20px;
        margin-bottom: 20px;
        
        h3{
            font-size: 20px;
            
        }
    }


   
    
    
}
